/* GENERAL GENERAL GENERAL GENERAL GENERAL */

body {
  font-family: 'Roboto', sans-serif;
  color: white;
}
.star {
  display: flex;
  align-items: center;
}
.star-bar {
  background-color: white;
  width: 80px;
  height: 2px;
  margin: 0 20px;
}

/* HEADER HEADER HEADER HEADER HEADER */

/* NAV */

nav {
  height: 80px;
  background-color: #2c3e50;
}

.nav-left a{
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-right a{
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: none;

  margin: 0 10px;
}

/* JUMBOTRON */

.jumbotron{
  height: 350px;
  background-color: #1abc9c;
}

.jumbotron img {
  width: 150px;
}

.jumbotron h3 {
  font-size: 14px;
  font-weight: 300;
}

/* MAIN MAIN MAIN MAIN MAIN */

/* PORTFOLIO */

.portfolio img {
  width: 200px;
  border-radius: 10px;
}

/* ABOUT */

.about {
  background-color: #1abc9c;  
}

.download-button {
  background-color: #1abc9c;
  border: 1px solid white;
  color: white;
  padding: 3px 6px;
  border-radius: 5px;

}

/* CONTACT ME */

.contact .contact-label {
  border-top: none;
  border-right: none;
  border-left: none;
  padding-bottom: 15px;
  margin-top: 5px
}

.contact .message-label {
  padding-bottom: 70px;
}

.contact .send-button {
  color: white;
  background-color: #1abc9c;
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER */

/* TOP FOOTER */

.top-footer {
  background-color: #3a546d;
}

.top-footer h3 {
  font-size: 16px;
}

.top-footer span {
  font-size: 12px;
}

.top-footer .span-green {
  color: #1abc9c;
}

/* BOTTOM FOOTER */

.bottom-footer {
  background-color: #2c3e50;
}

.copyright {
  font-size: 10px;
}